name: task_manager
description: "Task manager project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.2.0
  flutter_screenutil: ^5.9.3
  pin_code_fields: ^8.0.1
  image_picker: ^1.1.2
  http: ^1.4.0


dev_dependencies:
  flutter_test:
    sdk: flutter



  flutter_lints: ^5.0.0
  device_preview: ^1.2.0


flutter:


  uses-material-design: true


  assets:
    - assets/image/
  #   - images/a_dot_ham.jpeg

